# Rewrite to www
Options +FollowSymLinks
RewriteEngine on
RewriteCond %{HTTP_HOST} ^indrajit.rf.gd[nc]
RewriteRule ^(.*)$ https://indrajit.rf.gd/$1 [R,L]

# Prevent viewing of .htaccess file
<Files .htaccess>
order allow,deny
deny from all
</Files>

# Prevent directory listings
Options All -Indexes

